.alerts-primary {
    padding: 0.5rem;
    background-color: #5f4fca;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.alerts-success {
    padding: 0.5rem;
    background-color: #46cd87;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.alerts-danger {
    padding: 0.5rem;
    background-color: #ca4f4f;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.text-small {
    font-size: 0.9rem;
}

.text-smalls {
    font-size: 0.7rem;
}